* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: rgb(133 240 146);
    background: #111111;
}

.login-container {
    width: 430px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background: #111111;
    box-shadow: 15px 15px 15px #050505, -25px -25px 60px #050505;
}

.avtar {
    background: url("../img/IMG_20201222_182855.jpg") no-repeat;
    width: 100px;
    height: 100px;
    background-size: 100%;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 20px 20px 80px #1d1d1d,
        -20px -20px 80px #1d1d1d;
}

.title {
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
}

.sub-title {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
}

.fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
}

input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: rgb(247, 183, 183);
    padding: 20px 10px 20px 5px;
}

.username,
.password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #090909, inset -8px -8px 8px #1b1b1b;
}

.login {
    outline: none;
    border: none;
    cursor: pointer;
    width: 90%;
    margin-left: 20px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: rgb(78, 184, 233);
    background: #111111;
    box-shadow: 3px 3px 8px #080808, -3px -3px 8px #3a3a3a;
    transition: 0.5s;
}

.login:hover {
    background: #080808;
    opacity: 0.5;
}

.link {
    padding-top: 25px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 133);
    font-size: 15px;
}

.fas {
    color: rgb(240, 240, 133);
    padding: 20px;
}

input::placeholder {
    color: rgb(236, 236, 82);
}

input:focus {
    cursor: rgb(236, 236, 82);
}